$primary-med: rgb(111, 113, 212);
$primary-dark: rgb(73, 74, 172);

#nav-bar{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;

    background-color: black;
    color: white;

    height: 50px;
    width: 100%;
    #nav-img{
        margin: 10px;
     }
    a{
         text-decoration: none;
         color: white;
     }
     #nav-brand-text{
         position: relative;
         bottom:20px;
         margin: 10px;
         font-size: 120%;
         text-decoration: none;
     }
     #nav-btn{
         position: relative;
         bottom: 22px;
         margin: 10px;
     
         border: 0;
         background: none;
         
         color: white;
     }
     #nav-right{
         position: fixed;
         top:10px;
         right: 15px;
     }
     #account-btn{
     
         position: absolute;
         top:0;
         right:0px;
         padding: 15px;
         
         border-radius: 50px;
         border: 0;
         background: none
     }
     .dropdown-menu{
        position: fixed;
        right: 0;

        z-index: 999;
    
        padding-right: 20px;
    
        visibility: hidden;
    
        border: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 5px;
        color: black;
        background-color: white;
    
        text-align: center;
    
        ul li{
            list-style-type: none;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        ul li a{
            color: black !important;
        }
        .form-input{
            margin: 5px;
            border: 0
        }
        input{
            border: 0;
            border: solid;
            border-width: 1px;
            border-radius: 5px;
            padding-left: 5px;
            text-align: center;
        }
    
    }

}
#side-bar{
    z-index: 2;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 180px;
    background-color: rgb(53, 53, 65);
    animation-name: side-slide-out;
    animation-duration: 3s; 

    a{
        position: absolute;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.774);
        animation: side-fade-in;
        animation-duration: 5s;
    }
    h3{
        text-align: center;
        color: rgba(255, 255, 255, 0.774);
    }
    i{
        color: white;
        float: left;
        padding-left: 15px;
        padding-right: 10px;
    }
    .side-btn{
        position: static;
    
        padding-top: 20px;
        padding-bottom: 36px;
    
        border-top:solid;
        border-top-width: 2px;
        border-top-color: rgb(34, 34, 44); 
    }
    .side-btn-bottom{
        @extend .side-btn;

        border-bottom:solid;
        border-bottom-width: 2px;
        border-bottom-color: rgb(34, 34, 44); 
    }
    .side-btn:hover{
        cursor: pointer;
        background-color: rgb(56, 56, 73);
    }
    .side-sub-btn{
        @extend .side-btn;
        padding-left: 30px;
        animation-name: side-slide-down;
        animation-direction: 2s;
    }

    @keyframes side-slide-out{
        from{width: 103px;}
        to{width:180px;}
    }
    @keyframes side-slide-in{
        from{width:180px;}
        to{width:80px;}
    }
    @keyframes side-fade-in{
        from{opacity: 0;
            display: none}
        to{opacity:1;
        display: block;}
    }
    @keyframes side-slide-down {
        from{height:0%}
        to{height: 100%}
    }
}
#content{
    margin-left: 180px;
    margin-top: 85px;
    position: relative;
    z-index: 1;

    h3{
        font-size: 64pt;
    }
    p{
        margin: 0px 15px 0px;
        font-size: 14pt;
    }
    .content{
        position: relative;
        top: 0;
        width: 100%;
    }
    .content-title{
        position: relative;
        top: 0;
        background-color: rgb(111, 113, 212);
        background-image: linear-gradient(to top left, rgb(111, 113, 212) ,rgb(73, 74, 172));
        width: 100%;
        margin-top: -36px;
        box-shadow:$primary-dark;
        animation-name: content-slide-out;
        animation-duration: 3s; 
    }
    .content-text{
        text-align: center;
    } 
    .link-img{
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    #map{
        height: 475px;
    }

    #about-img{
        position: relative;
        left: 25%;
        width: 50%;
        margin-top: 20px;
    }
    @keyframes content-slide-out{
        from{margin-left: -180px;
             width:150%;}
        to{margin-left:0px;
           width: 100%; }

    }
}

/* Base Classes */

.hidden{
    display: none;
}
.show{
    display: block;
}
.btn-reg{
    margin-top: 1px;

    padding-top: 5px;
    padding-bottom: 5px;

    border:0;
    background: none;
    color: black;
    background-color: rgb(111, 113, 212);
    border: solid;
    border-width: 2px;
    border-color: rgb(77, 79, 197);
    border-radius: 6px;
}
@media (max-width:480px){
    #nav-bar{
        #nav-brand-text{
            display: none;
        }
    }
    #side-bar{
        display: none;
    }
    #content{
        h3{
            font-size: 32pt;
        }
        margin-left: 0px;
    }
}
body{
    margin: 0;
    font-family: 'Helvetica';
}
