/* Nav Bar */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
}

#nav-bar #nav-img {
  margin: 10px;
}

#nav-bar a {
  text-decoration: none;
  color: white;
}

#nav-bar #nav-brand-text {
  position: relative;
  bottom: 20px;
  margin: 10px;
  font-size: 120%;
  text-decoration: none;
}

#nav-bar #nav-btn {
  position: relative;
  bottom: 22px;
  margin: 10px;
  border: 0;
  background: none;
  color: white;
}

#nav-bar #nav-right {
  position: fixed;
  top: 10px;
  right: 15px;
}

#nav-bar #account-btn {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 15px;
  border-radius: 50px;
  border: 0;
  background: none;
}

#nav-bar .dropdown-menu {
  position: fixed;
  right: 0;
  padding-right: 20px;
  visibility: hidden;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-align: center;
}

#nav-bar .dropdown-menu ul li {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav-bar .dropdown-menu ul li a {
  color: black !important;
}

#nav-bar .dropdown-menu .form-input {
  margin: 5px;
  border: 0;
}

#nav-bar .dropdown-menu input {
  border: 0;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 5px;
  text-align: center;
}

#side-bar {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: #353541;
  -webkit-animation-name: side-slide-out;
          animation-name: side-slide-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#side-bar a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.774);
  -webkit-animation: side-fade-in;
          animation: side-fade-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#side-bar h3 {
  text-align: center;
  color: rgba(255, 255, 255, 0.774);
}

#side-bar i {
  color: white;
  float: left;
  padding-left: 15px;
  padding-right: 10px;
}

#side-bar .side-btn, #side-bar .side-btn-bottom, #side-bar .side-sub-btn {
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid;
  border-top-width: 2px;
  border-top-color: #22222c;
}

#side-bar .side-btn-bottom {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #22222c;
}

#side-bar .side-btn:hover, #side-bar .side-btn-bottom:hover, #side-bar .side-sub-btn:hover {
  cursor: pointer;
  background-color: #383849;
}

#side-bar .side-sub-btn {
  padding-left: 30px;
}

@-webkit-keyframes side-slide-out {
  from {
    width: 103px;
  }
  to {
    width: 180px;
  }
}

@keyframes side-slide-out {
  from {
    width: 103px;
  }
  to {
    width: 180px;
  }
}

@-webkit-keyframes side-slide-in {
  from {
    width: 180px;
  }
  to {
    width: 80px;
  }
}

@keyframes side-slide-in {
  from {
    width: 180px;
  }
  to {
    width: 80px;
  }
}

@-webkit-keyframes side-fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes side-fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.btn-reg {
  margin-top: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  background: none;
  color: black;
  background-color: gray;
  border: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 6px;
}
/*# sourceMappingURL=styles.css.map */