#nav-bar {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
}

#nav-bar #nav-img {
  margin: 10px;
}

#nav-bar a {
  text-decoration: none;
  color: white;
}

#nav-bar #nav-brand-text {
  position: relative;
  bottom: 20px;
  margin: 10px;
  font-size: 120%;
  text-decoration: none;
}

#nav-bar #nav-btn {
  position: relative;
  bottom: 22px;
  margin: 10px;
  border: 0;
  background: none;
  color: white;
}

#nav-bar #nav-right {
  position: fixed;
  top: 10px;
  right: 15px;
}

#nav-bar #account-btn {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 15px;
  border-radius: 50px;
  border: 0;
  background: none;
}

#nav-bar .dropdown-menu {
  position: fixed;
  right: 0;
  z-index: 999;
  padding-right: 20px;
  visibility: hidden;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-align: center;
}

#nav-bar .dropdown-menu ul li {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav-bar .dropdown-menu ul li a {
  color: black !important;
}

#nav-bar .dropdown-menu .form-input {
  margin: 5px;
  border: 0;
}

#nav-bar .dropdown-menu input {
  border: 0;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 5px;
  text-align: center;
}

#side-bar {
  z-index: 2;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: #353541;
  -webkit-animation-name: side-slide-out;
          animation-name: side-slide-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#side-bar a {
  position: absolute;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.774);
  -webkit-animation: side-fade-in;
          animation: side-fade-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#side-bar h3 {
  text-align: center;
  color: rgba(255, 255, 255, 0.774);
}

#side-bar i {
  color: white;
  float: left;
  padding-left: 15px;
  padding-right: 10px;
}

#side-bar .side-btn, #side-bar .side-btn-bottom, #side-bar .side-sub-btn {
  position: static;
  padding-top: 20px;
  padding-bottom: 36px;
  border-top: solid;
  border-top-width: 2px;
  border-top-color: #22222c;
}

#side-bar .side-btn-bottom {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #22222c;
}

#side-bar .side-btn:hover, #side-bar .side-btn-bottom:hover, #side-bar .side-sub-btn:hover {
  cursor: pointer;
  background-color: #383849;
}

#side-bar .side-sub-btn {
  padding-left: 30px;
  -webkit-animation-name: side-slide-down;
          animation-name: side-slide-down;
  -webkit-animation-direction: 2s;
          animation-direction: 2s;
}

@-webkit-keyframes side-slide-out {
  from {
    width: 103px;
  }
  to {
    width: 180px;
  }
}

@keyframes side-slide-out {
  from {
    width: 103px;
  }
  to {
    width: 180px;
  }
}

@-webkit-keyframes side-slide-in {
  from {
    width: 180px;
  }
  to {
    width: 80px;
  }
}

@keyframes side-slide-in {
  from {
    width: 180px;
  }
  to {
    width: 80px;
  }
}

@-webkit-keyframes side-fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes side-fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes side-slide-down {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes side-slide-down {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

#content {
  margin-left: 180px;
  margin-top: 85px;
  position: relative;
  z-index: 1;
}

#content h3 {
  font-size: 64pt;
}

#content p {
  margin: 0px 15px 0px;
  font-size: 14pt;
}

#content .content {
  position: relative;
  top: 0;
  width: 100%;
}

#content .content-title {
  position: relative;
  top: 0;
  background-color: #6f71d4;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#6f71d4), to(#494aac));
  background-image: linear-gradient(to top left, #6f71d4, #494aac);
  width: 100%;
  margin-top: -36px;
  -webkit-box-shadow: 0px 2px 5px #4d4fc5;
          box-shadow: 0px 2px 5px #4d4fc5;
  -webkit-animation-name: content-slide-out;
          animation-name: content-slide-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#content .content-text {
  text-align: center;
}

#content .link-img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

#content #map {
  height: 475px;
}

#content #about-img {
  position: relative;
  left: 25%;
  width: 50%;
  margin-top: 20px;
}

@-webkit-keyframes content-slide-out {
  from {
    margin-left: -180px;
    width: 150%;
  }
  to {
    margin-left: 0px;
    width: 100%;
  }
}

@keyframes content-slide-out {
  from {
    margin-left: -180px;
    width: 150%;
  }
  to {
    margin-left: 0px;
    width: 100%;
  }
}

/* Base Classes */
.hidden {
  display: none;
}

.show {
  display: block;
}

.btn-reg {
  margin-top: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  background: none;
  color: black;
  background-color: #6f71d4;
  border: solid;
  border-width: 2px;
  border-color: #4d4fc5;
  border-radius: 6px;
}

@media (max-width: 480px) {
  #nav-bar #nav-brand-text {
    display: none;
  }
  #side-bar {
    display: none;
  }
  #content {
    margin-left: 0px;
  }
  #content h3 {
    font-size: 32pt;
  }
}

body {
  margin: 0;
  font-family: 'Helvetica';
}
/*# sourceMappingURL=styles.css.map */